.search__container {
    display: flex;
    justify-content: center;   
    padding-top: 10px;
    flex-direction: row;
    align-items: stretch;
    width: auto;
}
.input_container{
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
    background: gainsboro;
}
input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: gainsboro;
}

.button {
    height: 1rem;
    position: static;
    padding-left: 10px;
    transition: all .1s;
    transition-delay: .1s;
    }
    

    
