.searchControl {
    display: flex;
    justify-content: center;
    padding-top: 10;
    align-items: center; 
}

.input {
    width: 20%;
    height: 40px;
    padding: 0 10px;
    background-color: inherit;
    color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: var(--radius);
  }
.booksList{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
   }
   .textLoading {
    text-align: center;
}
.book{
    text-align: center;
    padding: 2px 4px;
    transition: color 0.3s ease-in-out;
}
.book:hover{
    background-color: gray;
    color:#fff;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6c7ac9;
    color: #6c7ac9;
}

.pagination__link {
    font-weight: bold;
}

.pagination__link__active a {
    color: #fff;
    background: #6c7ac9;
}

.pagination__link__disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
}
